<!--
ALGO FALLA

<script>console.log(req.session.user)</script>
<img src="{{req.session.user.avatar}}" alt="Profile pic">
<p>{{req.session.user.username}}</p>
<p>{{req.session.user.bio}}</p>

-->

<form action="/logout" method="POST">
    <button type="submit" class="btn btn-danger">LOGOUT</button>
</form>